<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Consulta Agendada</title>
</head>
<body style="font-family: Arial, sans-serif;">
<h2>Consulta Agendada</h2>
<p>Olá, sua consulta foi marcada com sucesso.</p>
<p><strong>Paciente:</strong> {namePatient}</p>
<p><strong>Enfermeiro(a):</strong> {nameDoctor}</p>
<p><strong>Horário da consulta:</strong> {nameDoctor}</p>
<br/>
<p>Atenciosamente,<br/>Equipe Telenfermagem</p>
<p>Email Enviado de forma automática,<br/>Caso necessário, entre na plataforma e peça uma alteração</p>
</body>
</html>
